<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" /> <!-- 인터넷 사용 권한 추가 -->
   <!-- <uses-permission
        android:name="android.permission.READ_EXTERNAL_STORAGE"
        android:maxSdkVersion="32" /> 외부 저장공간 접근 권한, 함부로 사용 x -> 사용자 파일 읽기 및 쓰기 가능, 앱 데이터 저장 및 검색 등등. api 33부턴 불가능. -->

    <application
        android:name=".TomicsApplication"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.TomicsAndroidAppClone"
        android:usesCleartextTraffic="true"
        tools:targetApi="31">

        <activity
            android:name=".presentation.ui.MainActivity"
            android:exported="true"
            >
            <!--android:theme="@style/AppTheme.Splash"-->
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".presentation.ui.SplashAcitivty" />
    </application>
</manifest>